/*----------------------------------
GENERAL
------------------------------------
*/
html{scroll-behavior: smooth;}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
}

a:link {
    text-decoration: none;
    color:black;
    font-family: "Quicksand";
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.fa-phone-alt:before {
    margin-right: 1rem;
}
.fa-envelope:before{
    margin-right:1rem;
}
h1{
    font-family: 'Quicksand';
    font-weight: bold;
    font-style: normal;
    font-size: 63px;
    line-height: 78.75px;
}
h2{
    font-family: 'Quicksand';
    font-weight:400;
    font-style:normal;
    font-size:50px;
    line-height:62.5px;
}
h3{
    font-family:'Quicksand';
    font-weight:400;
    font-style:normal;
    font-size:30px;
    line-height:37.5px;
}
/*----------------------------------
HEADER
------------------------------------
*/

header {
    display: block;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 160px;
    background-color: #FFE0CC;
    vertical-align: middle;
}

#logo_header {
    float: left;
    width: 20%;
    margin-top: 20px;
}
.topnav{
    float: right;
    font-size: 27px;
    line-height: 34px;
    color: #605770;
    display: inline-block;
    text-align: right;
    right: 0;
    margin: 0 0rem;
    margin-top: 50px;
    margin-right: 4rem;
    width: 60%;
    vertical-align: middle;
}
.dropdown_content_utleier_box,.dropdown_content_leietaker_box{display: none;}
.dropdown_triangle{
    display:block;
    position: absolute;
    width:0;
    height:0;
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-bottom:40px solid #605770;
    top:40px;
    left:20px;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown_content{
    display:block;
    background-color:#605770;
    color:white;
    min-width:160px;
    z-index:1;
    position: absolute;
    left:20px;
    top:80px;
}

.dropdown_content a{
    color:white;
    padding:12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}
.dropdown_content a:hover{text-decoration: underline;}
.utleier_dropdown:hover .dropdown_content_utleier_box{display:block;}
.leietaker_dropdown:hover .dropdown_content_leietaker_box{display: block;}

.topMenuElement {
    padding: 1rem;
    color: #4D4861;
}
/*----------------------------------
FOOTER
------------------------------------
*/
footer{
    position: relative;
    background-color:#84A9C0 ;
    left:0;
    bottom:0;
    color:black;
    height:170px;
    clear: both;
}
footer img{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#contactinfo_footer{
    position: absolute;
    top: -6%;
    left: 17%;
    line-height: 2;
}
#contactinfo_footer h4{
    font-size: 1.33333em;
    margin-bottom: 0.5rem;
    font-weight: 900;
    text-decoration: underline;
}
#newsletter_footer{
    position: absolute;
    left: 70.49%;
    right: 3.54%;
    top: 12.98%;
    bottom: 35.1%;
    background: rgba(196, 196, 196, 0.3);
    padding:0.5rem;
}
#newsletter_footer h4{
    margin:0.5rem;
}
#newsletter_form{
    margin:0.5rem;
}

#some_footer{
    position: absolute;
    right:4%;
    bottom:7%;
}
#some_footer a{
    margin-left:2px;
    margin-right:2px;
    color:#4D4861;
}
#some_footer>a:hover{
    color:#9E7682;
}
footer input[type=email]{
    width:66%;
    font-family: "Quicksand";
    height:25px;
    font-size: 15px;
}
.email_newsletter_submit{
    background-color: #9E7682;
    border:none;
    font-family: "Quicksand";
    height:33px;
    cursor: pointer;
    vertical-align: top;
    width:80px;
    font-size:15px;
    margin-left:1rem;
    color:white;
}
.email_newsletter_submit:hover{
    background-color: #4D4861;
}



/*----------------------------------
BUTTONS
------------------------------------
*/

.buttonPink {
    color: #fff;
    background-color: #9E7682;
    padding: 32px 32px 32px 32px;
    font-size: 25px;
    font-family: "Quicksand";
    font-weight: normal;
    line-height: 25px;
    cursor: pointer;
    margin: 10px;
    border-radius: 0px;
    width: 295px;
    border: none;
    transition: 0.3s;
    opacity: 1;
}

.buttonPink:hover {
    color: #605770;
}

.buttonpurple {
    color: #fff;
    background-color: #605770;
    padding: 32px 32px 32px 32px;
    font-size: 25px;
    font-family: "Quicksand";
    font-weight: normal;
    line-height: 25px;
    cursor: pointer;
    margin: 10px;
    border-radius: 0px;
    width: 200px;
    border: none;
    transition: 0.3s;
    opacity: 1;
}

.buttonpurple:hover {
    color: #605770;
}

/*----------------------------------
FONTS
------------------------------------
*/



/*----------------------------------
HOMEPAGE
------------------------------------
*/
                                                        
                                                        .homepage {
                                                            overflow: hidden;
                                                        }
                                                        
                                                        .slides {
                                                            display: none;
                                                        }
                                                        
                                                        .slideshow_homepage_container {
                                                            position: relative;
                                                            width: 100%;
                                                            height: 100%;
                                                        }
                                                        
                                                        .fade {
                                                            -webkit-animation-name: fadeinout;
                                                            -webkit-animation-duration: 10s;
                                                            -webkit-animation-iteration-count: infinite;
                                                            -webkit-animation-timing-function: ease-in-out;
                                                            -webkit-animation-direction: alternate;
                                                            animation-direction: alternate;
                                                            animation-timing-function: ease-in-out;
                                                            animation-iteration-count: infinite;
                                                            animation-name: fadeinout;
                                                            animation-duration: 10s;
                                                        }
                                                        
                                                        @keyframes fadeinout {
                                                            0% {
                                                                opacity: 1;
                                                            }
                                                            45% {
                                                                opacity: 1;
                                                            }
                                                            55% {
                                                                opacity: 0;
                                                            }
                                                            100% {
                                                                opacity: 0;
                                                            }
                                                        }
                                                        
                                                        @-webkit-keyframes fadeinout {
                                                            0% {
                                                                opacity: 1;
                                                            }
                                                            45% {
                                                                opacity: 1;
                                                            }
                                                            55% {
                                                                opacity: 0;
                                                            }
                                                            100% {
                                                                opacity: 0;
                                                            }
                                                        }
                                                        
                                                        #homepagebuttons {
                                                            position: fixed;
                                                            top: 50%;
                                                            left: 50%;
                                                            margin-left: -210px;
                                                        }
                                                        /*----------------------------------
CONTACT 
------------------------------------
*/

#contactform {
    float: right;
    max-width: 500px;
    margin-right: 128px;
}

#contactform fieldset {
    border: none;
}

#contactform input {
    color: black;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
}

#contactform input[type=text] {
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F5F3F3;
    border: none;
    width: 100%;
}

#contactform textarea {
    height: 128px;
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F5F3F3;
    border: none;
    width: 100%;
}

#fritekst paceholder {
    vertical-align: top;
}

#contactform input[type=radio] {
    color: rgb(179, 35, 35);
    /*funker ikke*/
}

#contactform input[type=integer] {
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F5F3F3;
    border: none;
    width: 100%;
}

#contactform input:invalid {
    border: 1px solid red;
}

#contactform input:valid {
    border: 1px solid green;
}
/*
button {
    background-color: #9E7682;
    color: white;
    padding: 1rem 2rem;
    float: right;
    border: none;
}
/*
button:hover {
    background-color: #605770;
    color: white;
}

/*----------------------------------
about
------------------------------------*/
.containerabout{
  display: flex;
  align-items: center;
  justify-content: center;

}


.containerabout > div {
  flex-basis:45%;
}

#aboutimg img{
max-width: 100%;

}

#aboutimg{
  flex-basis: 45%;
}
#abouttext {
  position: relative;
  width: 985px;
  height: 531px;
  top:20%;
  left: 46px;  
  font-size: 24px;
  line-height: 28px;


}
#aboutbutton {
  position: relative;
  width: 196px;
  height: 50px;
  left: calc(50% - 196px/2 + 0.5px);
  top: calc(50% - 50px/2 + 1.5px);
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}


/*----------------------------------
UTLEIER
------------------------------------*/
section{
    margin-left:10rem;
    margin-right: 10rem;
}

/*INTRO*/
#intro_utleier{
    
    margin-top:5rem;
}
.intro_utleier_flex{
    display:inline-block;
    position: relative;
}
.intro_utleier_flex h1{
    float:left;
    width:25%;
    position: relative;
    margin:0;
    vertical-align: center;
}
.intro_utleier_flex img{
    bottom:2rem;
    width:50%;
    position: relative;
    float: right;
}
.intro_utleier_button{
    position: relative;
    top:-100px;
    left:35%;
}
/*FORDELER*/
#fordeler{
    min-height:550px;
    position: relative;
    margin-top: 2rem;
}
.box_fordeler{
    text-align: center;
    padding:0.5rem;
    border:1px solid transparent;
    transition: 0.8s ease-in;
    border-radius: 10px 0px 10px 0px;
}
.box_fordeler:hover{
    -webkit-box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
	-moz-box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
	box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
}
#trygghet, #best, #timemoney{
    float:left;
    width:30%;
 
}
#knowledge, #responsibility, #satisfied{
    float:left;
    width:30%;
    
}
/*SLIK FUNGERER DET*/
.field_text{display:none;}
.field_header{
    color:white;
    background-color: #9E7682;
    height:4rem;
    margin-bottom:0.5rem;
}
.field_header h3{
    margin:1rem;
    float:left;
    width:50%;
    display: block;
}
.field_header .far{
    float:right;
    width:10%;
    font-size:30px;
    display:block;
    margin:1rem;
    text-align: right;
}
.field_text{
    font-size:20px;
}
/*PRISER*/
.col_container{
    display:flex;
}
.col{
    flex:1;
    transition: 0.8s ease-in;
}
#col_1_utleie{
    margin-right:5rem;
}
.header_col{
    color:white;
    background-color: #9E7682;
    padding:0.5rem;
}
.header_col h3{
    margin:0;
}
.col ul{
    border-left:2px solid #9E7682;
    border-right:2px solid #9E7682;
    border-bottom:2px solid #9E7682;
    padding:2rem;
    margin:0;
}
.col:hover{
    -webkit-box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
	-moz-box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
	box-shadow: 17px 11px 20px 0px rgba(204,204,204,0.75);
}
/*OTHER*/
.bottom_utleie_button{
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}
/*----------------------------------
LEIETAKER
------------------------------------*/
                                                        
.leietaker section {
    margin: 2rem 10rem 2rem 10rem;
    padding: 2rem;
}
#Dinefordeler {
    height: 900px;
}                                                        
#Leieimg img {
    max-width: 40%;
}                                                        
#Leieimg {
    flex-basis: 45%;
}                                                        
#Process,#Clear {
    float: left;
    width: 50%;
    margin: 4rem 0.5rem 1rem 0.5rem;
}                                                        
#takecare,#Rent {
    float: right;
    width: 50%;
    margin: auto;
}                          